/* extras */
  html {
    scroll-behavior: smooth;
  }

  .column {
    margin-left: 2%;
    float: left;
    width: 47%;
    border:3px solid black;
    padding-bottom: 3px;
    }

  .row:after {
    content: "";
    display: table;
    clear: both;
  }

/* body */
  body {
    background: #cf5eff;
    margin: 0;
    color: #172f2a;
    height: 100%;
    width: 100% !important;
  }
/* //body */

  #sky {
    border:3px solid rgb(255, 255, 255);
  }

   .main-header, .row-header, td {
    border: 1px solid;
    font-size: large;
  }

  .main-header{
    background-color: #f38aff;
    border:none;
    color: white;
  }

  .row-header {
    text-align: left;
    background-color: #f6a7ff;
    color: #c400da;
    padding: 7px;
    border:none;
  }

  td{
    background-color: #f3d7ff;
    border:none;
    padding-right: 5px;
  }

  #box{
    display:flex;
    justify-content: center;
    margin-bottom: 5px;
    margin-left:3px;
  }


  .container{
    display:block;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 10px;
  }

  
  /* Clear floats after image containers */
  figure{
    display: inline-block;
    margin: 2%;
  }

  figure img {
    vertical-align: top;
    width:98%;
  }

  #images{
    margin-left:3px;
    margin-top:-2%;
  }

  figure figcaption {
    text-align: center;
  }

  @media screen and (min-width:769px) and (max-width: 1500px) {
    figure{
      display: block;
      margin-left: auto;
      margin-right: auto;
      width:50%;
    }
  }



  @media screen and (max-width: 768px) {
    .column{
      width: 95% !important;
    }
    #box{
      margin-top: 2%;
      margin-left: 2% !important;
    }
    #images{
      margin-top: 2%;
      margin-left: 2%;
    }
  }

  @media screen and (max-width: 735px) {
    figure{
      display: block;
      margin-left: auto;
      margin-right: auto;
      width:50%;
    }
  }